
{% load static %}
{% comment %} <footer class="container-fluid fixed-bottom bg-success text-center p-2 mt-5" >
    <span> Disclaimer | Privacy Policy </span><br>
    <span>  Copyright @2023 | Neel Dairy Ltd. | All rights reserved.</span><br>
  </footer> {% endcomment %}
  <footer class="footer">
    <div class="container flex footer-container">
      <div class="contact-address">
      <a href="#" class="company-logo">
        <img src="{% static 'images/products/dairy-delight-logo-removebg-preview.png' %}" width="580" height="100" alt="company logo" />
      </a>
      <address style="color:white;">
        <span class="font-semi-bold"> <b>Neel Dairy Ltd.</b></span><br>
        <span>CIN: L15209TG1995PLC020324</span><br>
        <span>8-2-293/82/A, 270/Q, Road No 10-C,</span><br>
        <span>
            Jubilee Hills, Pune, Maharashtra – 500 033.
        Maharashtra, India 201001 </span><br>
        <span>Tel: +91 40 4546 7777</span><br>
    </address>
  </div>
      
  
      <div class="link-column flex">
        <h4 style="color:white;">Products</h4>
        <a href="#" class="hover-link">Milk </a>
        <a href="#" class="hover-link"> Curd</a>
        <a href="#" class="hover-link"> Lassi</a>
        <a href="#" class="hover-link"> MilkShake</a>
        <a href="#" class="hover-link">Paneer</a>
        <a href="#" class="hover-link"> Cheese</a>
      </div>

  
      <div class="link-column flex">
        <h4 style="color:white;">Quick Links</h4>
        <a href="#" class="hover-link">Home </a>
        <a href="#" class="hover-link"> About Us </a>
        <a href="#" class="hover-link">Contact Us</a>
        <a href="#" class="hover-link">Search</a>
        <a href="#" class="hover-link"> Cart</a>
        <a href="#" class="hover-link">Wishlist</a>
      </div>
    
  
  <div class="link-column flex">
      <h4 style="color:white;">Resources</h4>
      <a href="#" class="hover-link">Privacy Policy</a>
      <a href="#" class="hover-link">Terms & Conditions</a>
      <a href="#" class="hover-link">Security Information</a>
      <div class="container flex subfooter-container"> 
      <a href="#" class="hover-link"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" class="hover-link"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="hover-link"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#" class="hover-link"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div> 
</footer>
  
  